.adminBackground {
  position: fixed;
  inset: 0;
  background-image: url("../images/adminBackground.jpeg");
  background-size: cover;
  background-position: top;
  z-index: -1;
}

.adminBackground::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.2);
  pointer-events: none;
}

main {
  margin-top: 15vh;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 10vw;
}

section.whiteBox {
  height: 85vh;
}

h1 {
  text-align: center;
}

.adminButton {
  margin-top: 1.5rem;
  background-color: var(--accent-primary);
  border-radius: var(--smaller-radius);
  font-weight: 500;
  font-size: 1rem;
  width: 10vw;
  min-height: 2rem;
  max-width: 8rem;
}

.adminButton:hover {
  background-color: var(--accent-primary-hover);
  cursor: pointer;
  transform: scale(1.1);
}
