/* ROOT v1 */
:root {
  /* BACKGROUNDS */
  /* Overlay on background images */
  /* --bg-app: rgb(245, 246, 244); */
  --bg-app: rgba(245, 246, 244, 0.2);

  /* Background color on whiteBox-div's */
  --bg-panel: rgba(255, 255, 255, 0.94);

  --border-subtle: #cfcfcf;

  /* TEXTS */
  /* Text color for h1-h6, p, span, button and non-active anchors */
  --text-main: #1f1f1f;

  /* Text color for label, legend, explaining texts under input, dates, week days in calendar, "hjälptexter" such as =occupied under calendar */
  --text-muted: #4f4f4f;

  /* For disabled buttons, inputs, inactive choices, will not be commonly used */
  --text-disabled: #9e9e9e;

  /* ACCENTS */
  /* Background color on primary call to action-buttons such as Book, Save, Confirm */
  --accent-primary: #5fa37a;

  /* Background color on button:hover, active anchors  */
  --accent-primary-hover: #3e7f61;

  /* Not commonly used. Use when user tabs on keyboard and clicks on input/button through keyboard */
  /* --accent-focus: #2d6a4f; */

  /* Not commonly used. For informationsrutor, secondary info (not warnings or errors), admin info */
  /* --accent-info: #4a90e2; */

  /* STATUS - ERROR */
  --status-error-text: #b00020;
  --status-error-bg: #fdeaea;
  --status-error-border: #b00020;

  /* STATUS - SUCCESS */
  --status-success-text: #1b7f4b;
  --status-success-bg: #e8f5ee;
  --status-success-border: #1b7f4b;

  /* STATUS - WARNING */
  --status-warning-text: #c77700;
  --status-warning-bg: #fff4e5;
  --status-warning-border: #c77700;

  /* Colors for navbar */
  --nav-bg: #e6e8e4; /* varm ljusgrå */
  --nav-border: #cfd4cf; /* subtil avgränsning */
  --nav-text: #1f1f1f; /* huvudtext */
  --nav-text-muted: #4f4f4f;
  --nav-active: #2d6a4f; /* samma som accent-focus */

  /* Colors for offers/discounts */
  --offer-bg: #fff6e5; /* mycket ljus varm gul */
  --offer-border: #f0c36d; /* dämpad guld */
  --offer-text: #5c3a00; /* mörk brun/guld */

  /* Colors for total price in frontend */
  --price-bg: #ffffff;
  --price-border: #e0e0e0;
  --price-text: #1f1f1f;
  --price-accent: #d4af37;
}

* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: var(--text-main);
}

.whiteBox {
  background-color: var(--bg-panel);
  border-radius: 20px;
  border: 4px dashed var(--border-subtle);
  z-index: 5;
}
