.background {
  position: fixed;
  inset: 0;
  background-image: url("../images/landscapewChar.png");
  background-size: cover;
  background-position: bottom;
  z-index: -1;
}

.background::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--bg-app);
}

main {
  margin-top: 20vh;
  margin-left: 15vw;
  margin-right: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero {
  /* width: 100%; */
  width: 70vw;
  padding: 2% 5%;
  text-align: center;
  position: relative;
}

.hotelStars {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.hotelStars img {
  width: 5%;
}

.heroImg {
  width: 10vw;
  height: auto;
  position: absolute;
  left: -10%;
  top: 15%;
}

section.roomToggle {
  margin-top: 5%;
}
